@model nguyennhuthin189.Models.NNT0189

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NNT0189</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NNTName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NNTName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NNTGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NNTGender)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NNTId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
